[
  {
    "userId": "id",
    "storageId": "storage_id",
    "credentials": {
      "type": "posix",
      "uid": "1",
      "gid": "1"
    }
  },
  {
    "userId": "id2",
    "storageId": "storage_id2",
    "credentials": {
      "type": "s3"
      "accessKey": "ACCESS_KEY",
      "secretKey": "SECRET_KEY"
    }
  }
]
