[
  {
    "storageType": "ceph",
    "generatorId": "ceph"
  },
  {
    "storageType": "posix",
    "generatorId": "posix"
  },
  {
    "storageType": "s3",
    "generatorId": "s3"
  },
  {
    "storageType": "swift",
    "generatorId": "swift"
  }
]
